.search-result-items {
    font-size: 16px;
    padding: 10px;
    background-color: lavenderblush;
    margin-bottom: 2px;
}

.search-result-details {
    font-size: 10px;
}

@media screen and (min-width: 600px) {
    .search-result-details {
        display: flex;
    }
}

.search-result-details-item {
    padding-left: 2px;
    padding-right: 2px;
    color: dimgray;
}
